@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container{
  margin: 30px auto;
  max-width: 600px;
  min-width: 600px;
  max-height: 600px;
  min-height: 300px;
  padding: 5px;
  overflow: auto;
  border: 1px solid steelblue;
  border-radius: 5%;
}